<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Main page</title>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header_inner">

            <nav class="nav">
                <div class="header_logo">ProGrade</div>
                <div sec:authorize="hasRole('ADMIN')"><a class="nav_link" href="/admin"><big>Admin page</big></a></div>
                <a class="nav_link" href="/instruction"><big>Instruction</big></a>
                <a class="nav_link" href="/logout"><big>Logout</big></a>
                <a class="nav_link" href="/userInfo"><big>User Info</big></a>
            </nav>
        </div>
    </div>
</header>
</body>
</html>